.stickyNav {
    overflow: hidden;
    background: white;
    padding: 5px;
    position: fixed;
    width: 100%;
        .flexContainer {
            @include displayFlex;
            align-items: center;
             .logo {
                width: 15%;
                    .logoContainer {
                        width: 100%;
                            img {
                                width: 100%;
                            }
                    }
            }
            nav {
                width: 85%;
                    ul {
                        @include displayFlex;
                        list-style: none;
                        justify-content: flex-end;
                            li {
                                margin: 0 10px;
                                a {
                                    @include heading(1.5rem);
                                    text-decoration: none;
                                    color: black;
                                }
                            }
                            .lastLi {
                                margin-right: 0;
                            }
                    }
            }
        }
}

.hero {
    padding-top: 150px;
    background-image:linear-gradient(to bottom, rgba(100,100,100,0.6),rgba(100,100,100,0.6)), url("../images/headerHero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
        .headingContainer {
             @include displayFlex;
             flex-direction: column;
             justify-content: center;
             padding: 80px 0;
                h2 {
                    @include heading(2.5rem);
                    letter-spacing: 2px;
                    text-align: center;
                    font-weight: 400;
                    color: white;
                    padding: 10px;
                }
                p {
                    @include body(6rem);
                    font-weight: 400;
                    text-align: center;
                    padding: 40px;
                    color: white;
                }
                a {
                    @include heading(2rem);
                    text-decoration: none;
                    margin: 0 auto;
                    text-align: center;
                    color: white;
                    background: $ltgreen;
                    width: 20%;
                    padding: 15px;
                    transition: 0.3s all ease;
                        &:hover {
                            background: $gold;
                        }
                }
                span {
                    display: block;
                }
        }
        
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}